.site-bg{
    background-attachment: fixed;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 0;
}
.page-content{
    position: relative;
    margin: auto;
    height: 700px;
    line-height:700px;
}
.cover-container {
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;/*让文字水平居中*/
    margin: auto;
}
.cover-lead{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
}
.pinyin{
    font-size: 12px;
    margin-bottom: 0px;
}
.cover-heading{
    margin-top: 0px;
    margin-bottom: 20px;
}
.header-bg{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
}
.main-menu,.navbar-site{
    color: black;
    height: 75px;
    line-height: 75px;
    background-color: white;
    border-color: white;

}
.collapse-site{
    padding-right: 0px;
}
.site-name{
    z-index: 99999;
    padding: 30px 0px;
    font-weight: 300;
    color: black;
}
header .navbar-nav {
    float: right;
    right: -15px;
    position: absolute;
    top: 15%;
}
.navbar-site-secondary{
    background-color: darkgrey;
    height: 75px;
    line-height: 75px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 12px;
}
.main{
    position: relative;
    top: 150px;
    height: 700px;
}
footer{
    position: relative;
    height: 150px;
    line-height: 150px;
    background-color: darkgrey;
}